@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/Assets/client/css/library/detail_library.css" rel="stylesheet" />
}
@section Scripts{

}

<div class="main-wrapper" style="min-height: 251px;">
    <!--begin header-->
    <!--end header-->
    <!--Begin content-->
    <div class="background-all-blog">
        <!--banner-->
        <div class="container-fluid">
            <div class="row">
                <img class="img-banner"src="~/UploadFiles/images/1_2.jpg">
              
            </div>
        </div>
        <!--emd banner-->
        <div class="row">
            <div class="col-xs-12">
                <div class="main-content-blog-new">
                    <div class="col-md-8 col-xs-8">
                        <p class="title-topic-left title-topic"><span class="pull-left">Chủ đề</span> <span class="badge fix-badge-topic">7</span></p>
                        <div class="row">
                            <div class="col-md-12 col-xs-4">
                                <!--begin check user is learn-->
                                <div class="topics-item">
                                    <a href="#">
                                        <!--end check user is learn-->
                                        <!--<div class="topics-item">
                                            <a href="javascript:void(0)">-->
                                    </a><div class="row">
                                        <a href="#">
                                            <div class="col-xs-3 col-md-2">
                                              
                                                <img class="topic-image" src="~/UploadFiles/images/job.jpg" alt="JOB" title="JOB">
                                            </div>
                                            <div class="col-xs-6 col-md-7">
                                                <p class="topics-name ">JOB</p>
                                                <p class="topics-description">
                                                    Chủ đề JOB gồm 20 từ vựng được trình bày bằng Flashcards, nội dung xoay quanh những nghề nghiệp phổ biến trong xã hội như giáo viên, diễn viên, bác sĩ…
                                                </p>
                                                <p class="topics-statistic">
                                                    <span class="topics-times">Số lần kiểm tra: <span>129</span></span>
                                                    <span class="topics-finish">Thuộc: <span>14</span></span>
                                                    <span class="topics-not-finish">Chưa thuộc: <span>6</span></span>
                                                    <span class="topics-time">Thời gian: <span>134</span></span>
                                                </p>
                                            </div>
                                        </a><div class="col-xs-3 col-md-3">
                                            <a href="#">

                                            </a><p class="col-btn-test text-center">
                                                <a href="#">
                                                </a><a isdontknowword="1" href="javascript:void(0)" childrentopic="96" parenttopic="95" class="learn-question topics-review">ÔN LẠI</a>
                                            </p>

                                            <p class="text-center">
                                                <a class="topics-test" href="#">KIỂM TRA LẠI</a>
                                            </p>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!--END topics-item-->
                        <div class="row">
                            <div class="col-md-12">
                                <!--begin check user is learn-->
                                <div class="topics-item">
                                    <div class="row">
                                        <a href="#">
                                            <div class="col-xs-3 col-md-2">
                                                <img class="topic-image" src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/love.jpg" alt="LOVE" title="LOVE">
                                            </div>
                                            <div class="col-xs-6 col-md-7">
                                                <p class="topics-name ">LOVE</p>
                                                <p class="topics-description">
                                                    Chủ đề LOVE gồm 20 từ vựng được trình bày bằng Flashcards, nội dung xoay quanh vấn đề tình yêu như con người, mối quan hệ, cảm xúc.
                                                </p>
                                                <p class="topics-statistic">
                                                    <span class="topics-times">Số lần kiểm tra: <span>38</span></span>
                                                    <span class="topics-finish">Thuộc: <span>17</span></span>
                                                    <span class="topics-not-finish">Chưa thuộc: <span>3</span></span>
                                                    <span class="topics-time">Thời gian: <span>104</span></span>
                                                </p>
                                            </div>
                                        </a><div class="col-xs-3 col-md-3">
                                            <a href="#">

                                            </a><p class="col-btn-test text-center">
                                                <a href="#">
                                                </a><a isdontknowword="1" href="javascript:void(0)" childrentopic="97" parenttopic="95" class="learn-question topics-review">ÔN LẠI</a>
                                            </p>

                                            <p class="text-center">
                                                <a class="topics-test" href="#">KIỂM TRA LẠI</a>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!--END topics-item-->
                    </div><!--end content left-->
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="title-topic-left">Tùy chọn</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 box-right-btn-big">


                                <a class="btn-learn-lesson-new" href="#" data-toggle="modal" data-target="#myModal" old-topic="102" current-topic="103" uid="79186">KIỂM TRA TUẦN</a>


                                <a class="btn-watch-level" data-toggle="modal" data-target="#ranking-modal" href="#">XEM THỨ HẠNG</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="title-topic-left not-top-chart">Biểu đồ tiến bộ</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-chart-next-all">
                                    <div class="box-img-high-cart">
                                        <div class="img-circle-chart" data-highcharts-chart="0"><div class="highcharts-container" id="highcharts-0" style="position: relative; overflow: hidden; width: 224px; height: 180px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg version="1.1" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="224" height="180"><desc>Created with Highcharts 4.1.9</desc><defs><clippath id="highcharts-1"><rect x="0" y="0" width="204" height="155"></rect></clippath></defs><rect x="0" y="0" width="224" height="180" strokeWidth="0" fill="none" class=" highcharts-background"></rect><g class="highcharts-series-group" zIndex="3"><g class="highcharts-series highcharts-series-0 highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(10,10) scale(1 1)" style="cursor:pointer;"><path fill="#4C87ED" d="M 101.98625205875058 10.00000140004363 A 67.5 67.5 0 1 1 45.62798628332821 40.37256985021225 L 102 77.5 A 0 0 0 1 0 102 77.5 Z" stroke="#FFFFFF" stroke-width="1" stroke-linejoin="round" transform="translate(0,0)"></path><path fill="#FF5D55" d="M 45.6651418932946 40.31621640960446 A 67.5 67.5 0 0 1 101.90624385418016 10.000065112734205 L 102 77.5 A 0 0 0 0 0 102 77.5 Z" stroke="#FFFFFF" stroke-width="1" stroke-linejoin="round" transform="translate(0,0)"></path><path fill="#D3D3D3" d="M 101.97374382469553 10.00000510656865 A 67.5 67.5 0 0 1 101.90624385418016 10.000065112734205 L 102 77.5 A 0 0 0 0 0 102 77.5 Z" stroke="#FFFFFF" stroke-width="1" stroke-linejoin="round" transform="translate(0,0)"></path></g><g class="highcharts-markers highcharts-series-0" visibility="visible" zIndex="0.1" transform="translate(10,10) scale(1 1)"></g></g><g class="highcharts-legend" zIndex="7"><g zIndex="1"><g></g></g></g><g class="highcharts-tooltip" zIndex="8" style="cursor:default;padding:0;pointer-events:none;white-space:nowrap;" transform="translate(0,-9999)"><path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.049999999999999996" stroke-width="5" transform="translate(1, 1)"></path><path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.09999999999999999" stroke-width="3" transform="translate(1, 1)"></path><path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.15" stroke-width="1" transform="translate(1, 1)"></path><path fill="rgba(249, 249, 249, .85)" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"></path><text x="8" zIndex="1" style="font-size:12px;color:#333333;fill:#333333;" y="20"></text></g><text x="214" text-anchor="end" zIndex="8" style="cursor:pointer;color:#909090;font-size:9px;fill:#909090;" y="175"></text></svg></div></div>
                                    </div>
                                    <div class="box-color-word">
                                        <p>
                                            <span class="box-color-high-blue"></span>
                                            <span class="text-chart-span">TỪ ĐÃ THUỘC</span>
                                            <span class="number-word-blue">0</span>
                                        </p>
                                        <div class="line-bottom-chart"></div>
                                        <p>
                                            <span class="box-color-high-red"></span>
                                            <span class="text-chart-span">TỪ CHƯA THUỘC</span>
                                            <span class="number-word-red">0</span>
                                        </p>
                                        <p class="not-border-bottom">
                                            <span class="box-color-high-gray"></span>
                                            <span class="text-chart-span">TỪ CHƯA HỌC</span>
                                            <span class="number-word-gray">0</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="title-topic-left decrecment-marrgin-top">Người học</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="list-user-learn">
                                <div class="col-md-6 col-sm-12 col-xs-6 item-user-learn">

                                    <div class="box-text-of-user" style="background: #5200EF;">
                                        P
                                    </div>

                                    <div class="box-info-user">
                                        <p class="name-user"><a href="http://www.voca.vn/my-library/303287">Phạm Trần Bảo Trâm</a></p>
                                        <p class="level-of-user">Beginner</p>
                                        <p class="vocaburary-not-learn">17 từ đã thuộc</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 item-user-learn">

                                    <div class="box-text-of-user" style="background: #FEBF10;">
                                        N
                                    </div>

                                    <div class="box-info-user">
                                        <p class="name-user"><a href="http://www.voca.vn/my-library/303274">Nguyễn Văn Châu</a></p>
                                        <p class="level-of-user">Beginner</p>
                                        <p class="vocaburary-not-learn">19 từ đã thuộc</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 item-user-learn">
                                    <div class="box-img-user">
                                        <img src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/picture" alt="Hiệp Hoàng">
                                    </div>

                                    <div class="box-info-user">
                                        <p class="name-user"><a href="http://www.voca.vn/my-library/303267">Hiệp Hoàng</a></p>
                                        <p class="level-of-user">Beginner</p>
                                        <p class="vocaburary-not-learn">20 từ đã thuộc</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 item-user-learn">
                                    <div class="box-img-user">
                                        <img src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/picture(1)" alt="Mộc Ngôn">
                                    </div>

                                    <div class="box-info-user">
                                        <p class="name-user"><a href="http://www.voca.vn/my-library/303259">Mộc Ngôn</a></p>
                                        <p class="level-of-user">Beginner</p>
                                        <p class="vocaburary-not-learn">36 từ đã thuộc</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 item-user-learn">
                                    <div class="box-img-user">
                                        <img src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/picture(2)" alt="Đông Hàn">
                                    </div>

                                    <div class="box-info-user">
                                        <p class="name-user"><a href="http://www.voca.vn/my-library/303255">Đông Hàn</a></p>
                                        <p class="level-of-user">Beginner</p>
                                        <p class="vocaburary-not-learn">12 từ đã thuộc</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 item-user-learn">

                                    <div class="box-text-of-user" style="background: #F77500;">
                                        V
                                    </div>

                                    <div class="box-info-user">
                                        <p class="name-user"><a href="http://www.voca.vn/my-library/303243">Vy Pham</a></p>
                                        <p class="level-of-user">Beginner</p>
                                        <p class="vocaburary-not-learn">16 từ đã thuộc</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 item-user-learn">
                                    <div class="box-img-user">
                                        <img src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/picture(3)" alt="Mỹ Duyên">
                                    </div>

                                    <div class="box-info-user">
                                        <p class="name-user"><a href="http://www.voca.vn/my-library/303238">Mỹ Duyên</a></p>
                                        <p class="level-of-user">Beginner</p>
                                        <p class="vocaburary-not-learn">19 từ đã thuộc</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 item-user-learn">
                                    <div class="box-img-user">
                                        <img src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/avatar_determination.png" alt="Bùi Việt Anh">
                                    </div>

                                    <div class="box-info-user">
                                        <p class="name-user"><a href="http://www.voca.vn/my-library/303237">Bùi Việt Anh</a></p>
                                        <p class="level-of-user">Beginner</p>
                                        <p class="vocaburary-not-learn">20 từ đã thuộc</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 item-user-learn">

                                    <div class="box-text-of-user" style="background: #FEBF10;">
                                        N
                                    </div>

                                    <div class="box-info-user">
                                        <p class="name-user"><a href="http://www.voca.vn/my-library/303234">New sky</a></p>
                                        <p class="level-of-user">Beginner</p>
                                        <p class="vocaburary-not-learn">13 từ đã thuộc</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-6 item-user-learn">

                                    <div class="box-text-of-user" style="background: #84BA00;">

                                    </div>

                                    <div class="box-info-user">
                                        <p class="name-user"><a href="http://www.voca.vn/my-library/303233"> </a></p>
                                        <p class="level-of-user">Beginner</p>
                                        <p class="vocaburary-not-learn">14 từ đã thuộc</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-show-more show-more-user-parent" showid="95" count="10">Xem thêm</button>
                            </div>
                        </div>
                    </div><!--end content right-->
                </div>
            </div>
        </div>



        <!--content nav tab-->
    </div>

    <script>

        $(function () {

            // Make monochrome colors and set them as default for all pies
            Highcharts.getOptions().plotOptions.pie.colors = (function () {
                var colors = ['#4C87ED', '#FF5D55', '#D3D3D3'],
                    base = Highcharts.getOptions().colors[0],
                    i;

                for (i = 0; i < 3; i += 1) {
                    // Start out with a darkened base color (negative brighten), and end
                    // up with a much brighter color
                    colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
                }
                return colors;
            }());

            // Build the chart
            $('.img-circle-chart').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    backgroundColor: 'none',
                    type: 'pie'

                },
                title: {
                    text: false,
                },
                dataLabels: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                },
                series: [{
                    data: [
                        { name: "TỪ ĐÃ THUỘC", y: 84.285714285714 },
                        { name: "TỪ CHƯA THUỘC", y: 15.714285714286 },
                        { name: "TỪ CHƯA HỌC", y: 0 },
                    ]
                }],
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                }
            });
            $('.highcharts-tooltip').next().text("");
        });


    </script>
    <!--End content-->
    <!--begin modal group-->
    <!--begin ranking-->
    <div class="modal fade" id="ranking-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">


        <link type="text/css" rel="stylesheet" href="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/ranking.css">
        <div class="modal-dialog ranking-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="ranking-title">Bảng xếp hạng <img class="pull-right close-box" data-dismiss="modal" src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/close-box.png"></p>
                        </div>
                        <div class="pull-right close-box">

                        </div>
                    </div>
                    <!-- begin top rank content-->
                    <div class="row ranking-content">
                        <div class="col-md-6">
                            <div class="row subtitle">
                                <div class="col-xs-12 ">
                                    <div class="line-green"></div>
                                    <p class="ranking-subtitle">TOP 3</p>
                                </div>
                            </div>
                            <!--begin top ranking item-->
                            <div class="row top-rank-group">
                                <!--begin second item-->
                                <div class="col-xs-12 col-sm-4 col-md-4 top-ranking-item">
                                    <div class="text-center" style="height: 300px; padding-top: 40px;">
                                        <div class="top-rank top-rank-second">
                                            <p>2</p>
                                        </div>
                                        <div class="top-rank-info top-rank-info-second">
                                            <p class="rank-avatar">
                                                <img src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/12002305_1626160080990335_7928571896261612694_n.jpg">

                                            </p>
                                            <p class="rank-name"><a href="http://www.voca.vn/my-library/166309">Vũ May</a></p>
                                            <div class="rank-number-group rank-number-group-second">
                                                <div class="top-rank-word">
                                                    <p class="top-rank-number">140</p>
                                                    <p>Từ đúng</p>
                                                </div>
                                                <div class="top-rank-time">
                                                    <p class="top-rank-number">140s</p>
                                                    <p>Thời gian</p>
                                                </div>
                                                <div class="top-rank-times">
                                                    <p class="top-rank-number">49</p>
                                                    <p>Lần</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end second item-->
                                <!--begin first item-->
                                <div class="col-xs-12 col-sm-4 col-md-4 top-ranking-item">
                                    <div class="text-center" style="height: 300px;">
                                        <div class="top-rank">
                                            <p>1</p>
                                        </div>
                                        <div class="top-rank-info">
                                            <div>
                                                <p class="cup-img-group">
                                                    <img class="cup-img" src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/cup-image.png">
                                                </p>

                                            </div>
                                            <p class="rank-avatar">
                                                <span style="background: #F77500;" class="text-avatar">v</span>
                                            </p>
                                            <p class="rank-name"><a href="http://www.voca.vn/my-library/78777"> vannhung</a></p>
                                            <div class="rank-number-group">
                                                <div class="top-rank-word">
                                                    <p class="top-rank-number">140</p>
                                                    <p>Từ đúng</p>
                                                </div>
                                                <div class="top-rank-time">
                                                    <p class="top-rank-number">140s</p>
                                                    <p>Thời gian</p>
                                                </div>
                                                <div class="top-rank-times">
                                                    <p class="top-rank-number">29</p>
                                                    <p>Lần</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end first item-->
                                <!--begin third item-->
                                <div class="col-xs-12 col-sm-4 col-md-4 top-ranking-item">
                                    <div class="text-center" style="height: 300px; padding-top: 80px;">
                                        <div class="top-rank top-rank-third">
                                            <p>3</p>
                                        </div>
                                        <div class="top-rank-info top-rank-info-third">
                                            <p class="rank-avatar">
                                                <span style="background: #F77500;" class="text-avatar">d</span>
                                            </p>
                                            <p class="rank-name"><a href="http://www.voca.vn/my-library/245370">dung quang</a></p>
                                            <div class="rank-number-group rank-number-group-third">
                                                <div class="top-rank-word">
                                                    <p class="top-rank-number">140</p>
                                                    <p>Từ đúng</p>
                                                </div>
                                                <div class="top-rank-time">
                                                    <p class="top-rank-number">140s</p>
                                                    <p>Thời gian</p>
                                                </div>
                                                <div class="top-rank-times">
                                                    <p class="top-rank-number">121</p>
                                                    <p>Lần</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end third item-->
                            </div>
                            <!--end top ranking item-->

                        </div>
                        <div class="col-md-6">
                            <div class="row subtitle">
                                <div class="col-xs-12">
                                    <div class="line-green"></div>
                                    <p class="ranking-subtitle">TOP 5</p>
                                </div>
                            </div>

                            <!--begin ranking item-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ranking-item">
                                        <div class="">
                                            <div class="col-xs-1 ranking-item-rank">
                                                <p>4</p>
                                            </div>
                                            <div class="col-xs-5 ranking-item-info">
                                                <p>
                                                    <span style="background: #4c87ed;" class="text-avatar">T</span>

                                                    <a href="http://www.voca.vn/my-library/642"><span>Trần Lâm Tốt</span></a>
                                                </p>
                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">140</p>
                                                    <p class="word-text">Từ đúng</p>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">140s</p>
                                                    <p class="word-text">Thời gian</p>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">260</p>
                                                    <p class="word-text">Lần</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--end ranking item-->
                            <!--begin ranking item-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ranking-item">
                                        <div class="">
                                            <div class="col-xs-1 ranking-item-rank">
                                                <p>5</p>
                                            </div>
                                            <div class="col-xs-5 ranking-item-info">
                                                <p>
                                                    <span style="background: #5200EF;" class="text-avatar">P</span>

                                                    <a href="http://www.voca.vn/my-library/299"><span>Phùng Tôn</span></a>
                                                </p>
                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">140</p>
                                                    <p class="word-text">Từ đúng</p>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">158s</p>
                                                    <p class="word-text">Thời gian</p>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">185</p>
                                                    <p class="word-text">Lần</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--end ranking item-->
                            <!--begin ranking item-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ranking-item">
                                        <div class="">
                                            <div class="col-xs-1 ranking-item-rank">
                                                <p>6</p>
                                            </div>
                                            <div class="col-xs-5 ranking-item-info">
                                                <p>
                                                    <img src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/g8-1479899164256_1485221687.jpg">

                                                    <a href="http://www.voca.vn/my-library/172715"><span>Nguyễn Thị Hồng Phúc</span></a>
                                                </p>
                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">140</p>
                                                    <p class="word-text">Từ đúng</p>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">160s</p>
                                                    <p class="word-text">Thời gian</p>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">130</p>
                                                    <p class="word-text">Lần</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--end ranking item-->
                            <!--begin ranking item-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ranking-item">
                                        <div class="">
                                            <div class="col-xs-1 ranking-item-rank">
                                                <p>7</p>
                                            </div>
                                            <div class="col-xs-5 ranking-item-info">
                                                <p>
                                                    <img src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/images xuka.jpg">

                                                    <a href="http://www.voca.vn/my-library/102886"><span>Chinh Lê</span></a>
                                                </p>
                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">140</p>
                                                    <p class="word-text">Từ đúng</p>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">175s</p>
                                                    <p class="word-text">Thời gian</p>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">54</p>
                                                    <p class="word-text">Lần</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--end ranking item-->
                            <!--begin ranking item-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ranking-item">
                                        <div class="">
                                            <div class="col-xs-1 ranking-item-rank">
                                                <p>8</p>
                                            </div>
                                            <div class="col-xs-5 ranking-item-info">
                                                <p>
                                                    <img src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/boboiboy-photos (1).jpg">

                                                    <a href="http://www.voca.vn/my-library/117819"><span>Lê Quang Phúc</span></a>
                                                </p>
                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">140</p>
                                                    <p class="word-text">Từ đúng</p>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">178s</p>
                                                    <p class="word-text">Thời gian</p>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 ranking-item-word">
                                                <div class="">
                                                    <p class="word-number">27</p>
                                                    <p class="word-text">Lần</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--end ranking item-->



                        </div>
                    </div>
                    <!-- begin top rank content-->
                    <!--begin user rank content-->
                    <div class="row subtitle">
                        <div class="col-xs-12 ">
                            <div class="line-blue"></div>

                            <p class="user-ranking-subtitle">Thứ hạng của bạn</p>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <!--begin ranking item-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ranking-item user-ranking-item">
                                        <div class="">
                                            <div class="col-xs-7">
                                                <div class="row">
                                                    <div class="col-xs-2 ranking-item-rank">
                                                        <p class="user-item-rank-number">9349</p>
                                                    </div>
                                                    <div class="col-xs-10 ranking-item-info">
                                                        <p>
                                                            <img src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/avatar_confidence.png">
                                                            <a href="http://www.voca.vn/my-library/79186"><span>Trịnh Đức Thịnh</span></a>



                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="row">
                                                    <div class="col-xs-4 ranking-item-word">
                                                        <div class="">
                                                            <p class="word-number">118</p>
                                                            <p class="word-text">Từ đúng</p>
                                                        </div>

                                                    </div>
                                                    <div class="col-xs-4 ranking-item-word">
                                                        <div class="">
                                                            <p class="word-number">484s</p>
                                                            <p class="word-text">Thời gian</p>
                                                        </div>

                                                    </div>
                                                    <div class="col-xs-4 ranking-item-word">
                                                        <div class="">
                                                            <p class="word-number">418</p>
                                                            <p class="word-text">Lần</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--end ranking item-->
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-7 col-sm-7">
                                    <p class="ranking-msg text-right">Hãy cố lên bạn nhé!</p>
                                </div>
                                <div class="col-md-5 col-sm-5 text-right img-msg">
                                    <img src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/rank-msg-img.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end user rank content-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>
    <!--end ranking-->
    <!--BEGIN REMIND MODAL-->
    <!--END REMIND MODAL-->
    <!--Begin popup is final-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog library-detail-modal-dialog">
            <div class="modal-content">
                <div>
                    <div>
                        <img style="width: 100%" src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/horizontal-bar.png" data-dismiss="modal" id="top">
                        <div><div class="pull-right div-close" data-dismiss="modal"></div></div>
                    </div>
                </div>
                <div style="padding: 30px 20px 0px;">
                    <h4 class="modal-title library-detail-modal-title" id="myModalLabel">Theo nguyên tắc của VOCA, bạn cần phải ôn tập bài cũ để giúp việc ghi nhớ từ vựng tốt hơn.</h4>
                </div>

                <div class="modal-footer" style="text-align: center; margin-top: 0px;">

                    <a href="http://www.voca.vn/test/102-95-1"><button type="button" class="btn-test-review" id="btn-test-review" onclick="this.disabled=true;">OK,  KIỂM TRA LẠI</button></a>
                    <a href="http://www.voca.vn/test/103-95"><button type="button" class="btn-learn-new" onclick="this.disabled=true;">KIỂM TRA</button></a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--end popup is final-->
    <!--Begin learn dont know word or all-->
    <!--<div class="modal fade" id="learn-question" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog library-detail-modal-dialog">
          <div class="modal-content">
            <div>
                <div>
                    <img style="width: 100%" src="http://www.voca.vn/assets/assets-v2/img/horizontal-bar.png" data-dismiss="modal" id="top"/>
                    <div><div class="pull-right div-close" data-dismiss="modal"></div></div>
                </div>
            </div>
            <div style="padding: 30px 20px 0px;">
                <h4 class="modal-title library-detail-modal-title text-center" id="myModalLabel">BẠN MUỐN HỌC TỪ CHƯA BIẾT HAY HỌC TẤT CẢ</h4>
            </div>
            <div class="modal-footer" style="text-align: center; margin-top: 0px;">
                <a href="" id="learn-unknow"><button type="button" class="btn-learn-new learn-unknow-word-btn" >HỌC TỪ CHƯA BIẾT</button></a>
                <a href="javascript:void(0)" id="choose-learn-words" class="choose-learn-words" topic="" parent="" ><button type="button" class="btn-learn-new learn-choose-word-btn">CHỌN TỪ MUỐN HỌC</button></a>
                <a href="" id="learn-all" ><button type="button" class="btn-learn-new  learn-know-word-btn">HỌC TẤT CẢ</button></a>
          </div>
        </div>
      </div>
    </div>-->
    <!--end learn dont know word or all-->
    <!--Begin learn dont know word or all-->
    <div class="modal fade" id="learn-question" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog library-detail-modal-dialog" style="margin-top: 30px; max-width: 600px;">
            <div class="modal-content" style="margin-top: 0px;">
                <div>
                    <div>
                        <img style="width: 100%" src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/horizontal-bar.png" data-dismiss="modal" id="top">
                        <div><div class="pull-right div-close" data-dismiss="modal"></div></div>
                    </div>
                </div>
                <div style="padding: 30px 20px 0px;">
                    <h4 class="modal-title library-detail-modal-title text-center" id="myModalLabel">BẠN HÃY CHỌN MỘT HÌNH THỨC HỌC</h4>
                </div>
                <div class="modal-footer" style="text-align: center; margin-top: 0px;">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#learning-flashcard"><button type="button" class="btn-learn-new learn-choose-word-btn learning-flashcard-btn" url="">HỌC FLASHCARD</button></a>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#learning-writing"><button type="button" class="btn-learn-new learn-know-word-btn learning-writing-btn" url="">HỌC WRITING</button></a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--end learn dont know word or all-->
    <!--Begin learning flashcard-->
    <div class="modal fade" id="learning-flashcard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog library-detail-modal-dialog" style="margin-top: 30px; max-width: 600px;">
            <div class="modal-content" style="margin-top: 0px;">
                <div>
                    <div>
                        <img style="width: 100%" src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/horizontal-bar.png" data-dismiss="modal" id="top">
                        <div><div class="pull-right div-close" data-dismiss="modal"></div></div>
                    </div>
                </div>
                <div style="padding: 30px 20px 0px;">
                    <h4 class="modal-title library-detail-modal-title text-center" id="myModalLabel">BẠN MUỐN HỌC TỪ CHƯA BIẾT HAY HỌC TẤT CẢ</h4>
                </div>
                <div class="modal-footer" style="text-align: center; margin-top: 0px;">

                    <a href="http://www.voca.vn/library/bo-tu-vung-trai-nghiem-cung-voca" id="learn-unknow" class="flashcard-unknow"></a>

                    <a href="javascript:void(0)" id="choose-learn-words" class="choose-learn-words" topic="" parent=""><button type="button" class="btn-learn-new learn-choose-word-btn">CHỌN TỪ MUỐN HỌC</button></a>
                    <a href="http://www.voca.vn/library/bo-tu-vung-trai-nghiem-cung-voca" id="learn-all" class="flashcard-learn-all"><button type="button" class="btn-learn-new learn-know-word-btn">HỌC TẤT CẢ</button></a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--end learning flashcard-->
    <!--Begin learning writing-->
    <div class="modal fade" id="learning-writing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog library-detail-modal-dialog" style="margin-top: 30px; max-width: 600px;">
            <div class="modal-content" style="margin-top: 0px;">
                <div>
                    <div>
                        <img style="width: 100%" src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/horizontal-bar.png" data-dismiss="modal" id="top">
                        <div><div class="pull-right div-close" data-dismiss="modal"></div></div>
                    </div>
                </div>
                <div style="padding: 30px 20px 0px;">
                    <h4 class="modal-title library-detail-modal-title text-center" id="myModalLabel">BẠN MUỐN HỌC TỪ CHƯA BIẾT HAY HỌC TẤT CẢ</h4>
                </div>
                <div class="modal-footer" style="text-align: center; margin-top: 0px;">

                    <a href="http://www.voca.vn/library/bo-tu-vung-trai-nghiem-cung-voca" id="learn-unknow" class="writing-unknow"></a>

                    <a href="javascript:void(0)" id="choose-learn-words" class="choose-learn-words" topic="" parent=""><button type="button" class="btn-learn-new learn-choose-word-btn">CHỌN TỪ MUỐN HỌC</button></a>
                    <a href="http://www.voca.vn/library/bo-tu-vung-trai-nghiem-cung-voca" id="learn-all" class="writing-learn-all"><button type="button" class="btn-learn-new learn-know-word-btn">HỌC TẤT CẢ</button></a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--end learning writing-->
    <!-- BEGIN CHOOSE WORDS WANT TO LEARN -->
    <div class="modal fade show-choose-learn-words" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <form id="diary-form-choose-learn-words" action="http://www.voca.vn/library/bo-tu-vung-trai-nghiem-cung-voca" method="post">
            <div class="modal-dialog modal-dialog-choose-word " style="width:100%; margin-top: -20px;">
                <!-- show words want to learn board -->
            </div>
        </form>
    </div>
    <!-- END CHOOSE WORDS WANT TO LEARN -->
    <!--Begin notification open time for new lesson-->
    <div class="modal fade" id="open-time" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog library-detail-modal-dialog">
            <div class="modal-content">
                <div>
                    <div>
                        <img style="width: 100%" src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/horizontal-bar.png" data-dismiss="modal" id="top">
                        <div><div class="pull-right div-close" data-dismiss="modal"></div></div>
                    </div>
                </div>
                <div style="padding: 30px 20px 0px;">
                    <h4 class="modal-title library-detail-modal-title text-center" id="myModalLabel">Bài mới sẽ được mở vào lúc <strong>05:55</strong>. Lúc này bạn nên ôn tập hoặc kiểm tra lại để giúp trí nhớ từ vựng tốt hơn.</h4>
                </div>

                <div class="modal-footer" style="text-align: center; margin-top: 0px;">
                    <a href="http://www.voca.vn/learning/102-95"><button type="button" class="btn-learn-new">ÔN LẠI</button></a>
                    <a href="http://www.voca.vn/test/102-95"><button type="button" class="btn-test-review" onclick="this.disabled=true;">KIỂM TRA LẠI</button></a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--End notification open time for new lesson-->
    <!--end modal group-->
    <script type="text/javascript" src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/highcharts.js.tải xuống"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#line-chart').highcharts({
                chart: {
                    type: 'area'
                },
                title: {
                    text: 'Biểu đồ tiến bộ'
                },
                subtitle: {
                    text: 'Đánh giá kết quả học tập của bạn'
                },
                xAxis: {
                    labels: {
                        formatter: function () {
                            return '<a href="#">' + this.value + '</a>';
                        },
                        style: {
                            color: '#00f'
                        }
                    },
                    categories: ['JOB', 'LOVE', 'PLACE AROUND TOWN', 'HOLIDAYS', 'HOBBIES', 'ENTERTAINMENT', 'NATURE']
                },
                yAxis: {
                    title: {
                        text: 'Từ bạn thuộc'
                    },
                    allowDecimals: false
                },
                tooltip: {
                    enabled: true,
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                                'Thuộc: ' + this.y + ' từ';
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: true
                    }
                },
                series: [{
                    name: 'Lịch sử kiểm tra',
                    data: [14, 17, 18, 20, 9, 20, 20]
                }]
            });
            $('.highcharts-tooltip').next().text("");
            $('.process-chart').css('display', 'none');
            var i = 0;
            $('.see-more-topics').click(function () {
                if (i == 0) {
                    i = 1;
                    $('.process-chart').slideDown();
                    $('.see-more-topics-text').text("Rút gọn");
                    $('.see-more-topics-icon .fa').removeClass('fa-chevron-down');
                    $('.see-more-topics-icon .fa').addClass('fa-chevron-up');
                } else {
                    i = 0;
                    $('.process-chart').slideUp();
                    $('.see-more-topics-text').text("Xem thêm");
                    $('.see-more-topics-icon .fa').removeClass('fa-chevron-up');
                    $('.see-more-topics-icon .fa').addClass('fa-chevron-down');
                }
            });
        });
    </script>
    <script type="text/javascript" src="./VOCA.VN _ HỆ THỐNG HỌC TỪ VỰNG TIẾNG ANH THÔNG MINH_files/slippry.min.js.tải xuống"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery('#slider').slippry({
                control: false,
                pager: false,
                transition: 'horizontal'
            });
            $('#msg-modal').modal();
            var j = 0;
            $('.hide-show-learn-btn').click(function () {
                if (j == 0) {
                    j = 1;
                    $(this).children('.fa').removeClass('fa-chevron-up');
                    $(this).children('.fa').addClass('fa-chevron-down');
                    $('.hide-show-btn-group').slideUp();
                } else {
                    j = 0;
                    $(this).children('.fa').removeClass('fa-chevron-down');
                    $(this).children('.fa').addClass('fa-chevron-up');
                    $('.hide-show-btn-group').slideDown();
                }

            });
        });
    </script>
</div>
