@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Danh sách chủ đề";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Assets/client/css/library/detail_library.css" rel="stylesheet" />
}

@section scripts{
    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
    <script src="~/Assets/client/js/plugins/mustache.min.js"></script>
    <script src="~/Assets/client/js/plugins/jquery.twbsPagination.min.js"></script>
    <script src="~/Assets/client/js/Chart.js.1.0.2/content/Scripts/Chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/Assets/client/js/controllers/topicController.js"></script>
    <script type="text/javascript">

        // Load Charts and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Draw the pie chart for Sarah's pizza when Charts is loaded.
        google.charts.setOnLoadCallback(drawLearningChart);

        // Callback that draws the pie chart for Sarah's pizza.
        function drawLearningChart() {

            // Create the data table for Sarah's pizza.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
              ['20 Từ đã thuộc', 20],
              ['30 Từ chưa thuộc', 30],
              ['50 Từ chưa học', 50],
            ]);

            // Set options for  chart.
            var options = {
                title: 'Biểu đồ tiến độ',
                width: 500,
                height: 300
            };

            // Instantiate and draw the chart 
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    </script>
}

<input type="hidden" id="groupId" value=@ViewBag.GroupId>
<input type="hidden" id="userId" value=@User.Identity.GetUserId()>
<div class="main-wrapper" style="min-height: 251px;">
    <!--Begin content-->
    <div class="background-all-blog">
        <!--banner-->
        <div class="container-fluid">
            <div class="row">
                <img class="img-banner" src="~/UploadFiles/images/1_2.jpg">
            </div>
        </div>
        <!--emd banner-->
        <div class="row">
            <div class="col-xs-12">
                <div class="main-content-blog-new">
                    <div class="col-md-8 col-xs-8">
                        <p class="title-topic-left title-topic"><span class="pull-left">Chủ đề</span> <span class="badge fix-badge-topic">7</span></p>
                        <div class="row" id="topicList">
                        </div><!--END topics-item-->

                    </div><!--end content left-->
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="title-topic-left not-top-chart">Biểu đồ tiến bộ</p>
                            </div>
                        </div>
                        <!--Beign div_Chart learning-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-chart-next-all">
                                    <div id="chart_div" style="border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;margin-left:-15%"></div>
                                </div>
                            </div>
                        </div>
                        <!--End div_Chart learning-->
                    </div>
                    <!--end content right-->
                </div>
            </div>
        </div>
        <!--content nav tab-->
    </div>
</div>


@*template using to generate data*@
<script id="listTopic-template" type="x-tmpl-mustache">
    <div class="col-md-12 col-xs-4">
        <!--begin check user is learn-->
        <div class="topics-item">
            <div class="row">
                <a href="{{link}}">
                    <div class="col-xs-3 col-md-2">
                        <img class="topic-image" src="{{image}}" alt="JOB" title="JOB">
                    </div>
                    <div class="col-xs-6 col-md-7">
                        <p class="topics-name ">{{subjectName}}</p>
                        <p class="topics-description">
                            {{description}}
                        </p>
                        @*<p class="topics-statistic">
                            <span class="topics-times">Số lần kiểm tra: <span>129</span></span>
                            <span class="topics-finish">Thuộc: <span>14</span></span>
                            <span class="topics-not-finish">Chưa thuộc: <span>6</span></span>
                            <span class="topics-time">Thời gian: <span>134</span></span>
                        </p>*@
                    </div>
                </a>
                <div class="col-xs-3 col-md-3">
                    <p class="col-btn-test text-center">
                        <a isdontknowword="1" href="{{link}}" childrentopic="96" parenttopic="95" class="learn-question topics-review">ÔN LẠI</a>
                    </p>

                    <p class="text-center">
                        <a class="topics-test" href="{{linkTest}}">KIỂM TRA LẠI</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="listTopic-templateNo" type="x-tmpl-mustache">
    <div class="col-md-12 col-xs-4">
        <!--begin check user is learn-->
        <div class="topics-item">
            <div class="row">
                <a href="{{link}}">
                    <div class="col-xs-3 col-md-2">
                        <img class="topic-image" src="{{image}}" alt="JOB" title="JOB">
                    </div>
                    <div class="col-xs-6 col-md-7">
                        <p class="topics-name ">{{subjectName}}</p>
                        <p class="topics-description">
                            {{description}}
                        </p>
                        @*<p class="topics-statistic">
                                <span class="topics-times">Số lần kiểm tra: <span>129</span></span>
                                <span class="topics-finish">Thuộc: <span>14</span></span>
                                <span class="topics-not-finish">Chưa thuộc: <span>6</span></span>
                                <span class="topics-time">Thời gian: <span>134</span></span>
                            </p>*@
                    </div>
                </a>
                <div class="col-xs-3 col-md-3">
                    <p class="col-btn-test text-center">
                        <a isdontknowword="1" href="{{link}}" childrentopic="96" parenttopic="95" class="learn-question topics-review">HỌC</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</script>