
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/Assets/client/css/word/word.css" rel="stylesheet" />
    <style>
        .textDisplay{
            font-family: cursive;
            font-size: 15px;
            font-weight: 400;
        }
    </style>
}

@section Scripts{
    <script src="~/Assets/client/js/plugins/mustache.min.js"></script>
    <script src="~/Assets/client/js/controllers/learning_workController.js"></script>
}
<!--Begin main-wrap-->
<input type="hidden" id="TopicId" value=@ViewBag.Id />

<div class="main-wrap">
    @*Begin div_listword*@
    <div id="listword">
   </div>
    @*End div_listword*@
    <!--Begin div_learning-fill-->
    <div class="learning-fill" style="background: rgb(255, 255, 255);">
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control learning-fill-word" placeholder="Gõ từ vựng đoán được vào đây">
                <a><button class="learning-btn-fill-word btn-learning-check" style="background: rgb(122, 198, 12); color: rgb(255, 255, 255);">KIỂM TRA</button></a>
            </div>
            <div class="col-md-7 col-md-offset-5 hidden-xs hidden-sm warning-test-group" style="margin-top: -50px;">
                <div class="learning-right-group" style="display: none;">
                    <span>Thật tuyệt!</span></p>
                    <p class="learning-view-msg  hidden-sm" style="color: rgb(85, 85, 85);">Nhấn vào nút xoay để xem chi tiết bạn nhé! ^^</p>
                </div>
                <div class="learning-wrong-group" style="display: none;">
                    <span>Cố lên!</span></p>
                    <p class="learning-view-msg  hidden-sm" style="color: rgb(85, 85, 85);">Nhấn vào nút xoay để xem gợi ý bạn nhé! ^^</p>
                </div>
            </div>
        </div>
    </div>
    <!--End div_learning-fill-->
</div>
<!--End main-wrap-->

<div class="col-md-12" align="center" style="margin:5% 0% 5% 0%" >
    <input type="button"  id='prev' class="btn btn-prev prevBtn" value="Quay lại">
    <input type="button" id='next' class="btn btn-next nextBtn" value="Tiếp theo">
</div>

<!--template-->
<script id="listWord-template" type="x-tmpl-mustache">
    <div id="p{{Id}}" class='item {{Active}}' data-word='{{WordName}}'>
        <div class="child child1" style="display: block;">
            <div class="row face face1 textDisplay">
                <div class="col-md-4 col-sm-3 col-xs-4">
                    <div class="thumbnail">
                        <a href="javascript:void(0)" class="pin-word pin-word-learning" word={{WordName}} data-toggle="tooltip" data-placement="right" title=""></a>
                        <img class="img-vocabulary" alt="{{WordName}}" src={{Image}} />

                    </div>
                </div>
                <div class="col-md-7 col-sm-8 col-xs-7 fix-col-xs-not">
                    <p class="title">Định nghĩa</p>
                    <p class="content-define">{{Defination}}</p>
                    <p class="content-define">{{Meaning}}</p>

                </div>
                <div class="col-md-1 col-sm-1 col-xs-1" align="center">
                    <div class="fix-col-height pull-right">
                        <div class="number-stt">1</div>

                    </div>
                </div>
            </div>
        </div>
        <div class="child child2" style="display: none;">
            <div class="row  face face2 textDisplay">
                <div class="col-md-4 col-sm-3 col-xs-4">
                    <div class="thumbnail">
                        <a href="javascript:void(0)" class="pin-word pin-word-learning" vocabulary="96" word="nHAQu44WbZSPHPmqTIInex6TWlSt7cvenvixEicV9Kk=" definition="yiBxla9MEjUHfPDem5tA/Y5hwLkCE6EGbo+9+tuIC9U=" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ghim từ"></a>
                        <img class="img-vocabulary" alt="{{WordName}}" src="{{Image}}" />
                    </div>
                </div>
                <div class="col-md-7 col-sm-8 col-xs-7 fix-col-xs-not">
                    <p class="meaning-vocabulary">{{Meaning}}</p>
                    <div class="pronoun">
                        <div class="uk">
                            <span class="spelling">{{Transcription}} </span>
                            <span class="spelling-uk">UK</span>
                            <a href="javascript:void(0)" class="speaker-word speaker-uk" sound_id="uk-1">
                                <span></span>
                            </a>
                            <audio class="audio-uk-1" id="audioSound">
                                <source src={{Sound}} type='audio/mpeg' />
                            </audio>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1" align="center">
                    <div class="fix-col-height pull-right">
                        <div class="number-stt">2</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="child child3" style="display: none;">
            <div class="row  face face3 textDisplay">
                <div class="col-md-4 col-sm-3 col-xs-4">
                    <div class="thumbnail">
                        <a href="javascript:void(0)" class="pin-word pin-word-learning" vocabulary="96" word="nHAQu44WbZSPHPmqTIInex6TWlSt7cvenvixEicV9Kk=" definition="yiBxla9MEjUHfPDem5tA/Y5hwLkCE6EGbo+9+tuIC9U=" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ghim từ"></a>
                        <img class="img-vocabulary" alt="{{WordName}}" src="{{Image}}" />
                    </div>
                </div>
                <div class="col-md-7 col-sm-8 col-xs-7 fix-col-xs-not">
                    <p class="vocabulary">{{WordName}} <span>n</span>  </p>
                    <div class="pronoun">
                        <div class="uk">
                            <span class="spelling"> {{Transcription}} </span>
                            <span class="spelling-uk">UK</span>
                            <a href="javascript:void(0)" class="speaker-word speaker-uk" sound_id="uk-1">
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <div class="not-pronoun">
                        <div class="uk">
                            <span class="example">Ví dụ:</span>
                            <span class="lang-vi change-sample">VI</span>
                            <span class="spelling-uk">UK</span>
                            <a href="javascript:void(0)" class="speaker-word speaker-uk" sound_id="sample-uk-1">
                                <span></span>
                            </a>
                            <audio class="audio-sample-uk-1" id="soundExample">
                                <source src={{SoundExample}} type='audio/mpeg' />
                            </audio>
                        </div>
                    </div>
                    <p class="sentence-vi ex_en">{{Example}}</p>
                    <p class="sentence-vi ex_vi">{{ExampleTranslation}}</p>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 text-center">
                    <div class="fix-col-height pull-right">
                        <div class="number-stt">3</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</script>