<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" ng-keyup="$event.keyCode == 13 ? getWord() : null" ng-model="keyword" placeholder="Từ khóa">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="getWord()">Tìm kiếm</button>
            </span>
        </div><!-- /input-group -->
    </div>
    <div class="col-md-6">
        <button class="btn btn-success" ui-sref="questionCategoriesAdd">Thêm mới</button>
    </div>
</div>